<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iBuilt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>095ED08E1E60A18E009F29DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>095ED0A21E60A18E009F29DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>095ED0AD1E60A18E009F29DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
